.grid {
    stroke: #ccc;
    stroke-width: 1;
    pointer-events: none;
}

.camera--sightline {
    stroke: #41f4a9;
    stroke-width: 3;
    stroke-dasharray: 5, 5;
}

.camera--focus {
    cursor: grab;
    fill: #42a1f4;
}

.camera--target {
    cursor: grab;
    stroke: #41f4a9;
    stroke-width: 3;
    stroke-dasharray: 5, 5;
    fill: transparent;
}

.camera--target:hover {
    stroke-dasharray: none;
}

.camera--direction {
    stroke: #41f4a9;
    stroke-width: 10;
    stroke-linecap: round;
}

.drag {
    cursor: grabbing;
}

.map--cell {
    stroke: none;
}

.map--cell--wall {
    fill: #00ff00;
}
.map--cell--open {
    fill: transparent;
}

.map--cell:hover {
    stroke: black;
}
